$color-background: #ffffff;
$color-light: #F5F5F5;
$color-dark: #E2E2E2;
$padding: 10px;
$border-radius: 5px;
$selected-font-element-height: 35px;

.font-selector-wrapper {
  min-width: 200px;
  display: inline-block;
  font-size: 18px;
  position: relative;

  > select {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
  }
}

.font-selector-dropdown {
  width: 100%;
  position: relative;

  &.font-selector-is-expanded {
    .font-selector-selected-font {
      &:after {
        content: '▲';
      }

      border-radius: $border-radius $border-radius 0 0;
    }

    .font-selector-font-list {
      max-height: 200px;
      transition: max-height 0.3s;
      padding: 0;
      overflow-y: auto;
      border-width: 1px;
      border-top-width: 0;
    }
  }
}

.font-selector-selected-font {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: ($padding / 2) $padding;
  background-color: $color-dark;
  box-sizing: border-box;
  position: relative;
  height: $selected-font-element-height;
  border-width: 1px;
  border-bottom-width: 0;
  border-style: solid;
  border-color: $color-dark;
  border-radius: $border-radius;

  > * {
    pointer-events: none;
  }

  &:after {
    content: '▼';
    display: block;
    position: absolute;
    right: $padding;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    line-height: 1;
  }
}

.font-selector-selected-font-name {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: $padding;
  right: $padding * 3;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.font-selector-font-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: none;
  position: absolute;
  left: 0;
  top: $selected-font-element-height;
  width: 100%;
  background-color: $color-background;
  border-width: 0;
  border-style: solid;
  border-color: $color-dark;
  box-sizing: border-box;
  border-radius: 0 0 $border-radius $border-radius;

  > li {
    padding: ($padding / 2) $padding;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: $color-dark;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1.0;
      background-color: $color-light;
    }

    &:last-child {
      border: none;
    }
  }
}